[Unit]
Description=Worker

[Service]
User=worker
WorkingDirectory=/var/www/worker/target
ExecStart=java -jar worker-jar-with-dependencies.jar
Restart=always
Environment='REDIS_HOST={{ hostvars['redis'].ansible_host }}'
Environment='POSTGRESQL_USER={{ db_username }}'
Environment='POSTGRESQL_PASSWORD={{ db_password }}'
Environment='POSTGRESQL_HOST={{ hostvars['postgresql'].ansible_host }}'
Environment='POSTGRESQL_PORT={{ db_port }}'
Environment='POSTGRESQL_DB={{ db_name }}'
